<!-- As a link -->


<header id="head">
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-transparent">
  <a class="navbar-brand ml-3" href="#">
    <img src="https://img.icons8.com/wired/128/000000/c-programming.png"/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
          <div class="navbarSearch ml-5">
      <input id="nav" class="" type="search" placeholder="&nbsp;&nbsp;Rechercher">
    </div>
    </form>
    <ul class="navbar-nav mx-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white  " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
  <svg class="mr-5" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="64" height="64"
viewBox="0 0 172 172"
style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="#ffffff"></path><g id="original-icon" fill="#000000"><path d="M83.31337,25.80003c-13.47109,0 -25.44725,8.46562 -30.13358,20.8953c-0.05039,0.08399 -0.11758,0.15117 -0.15957,0.24355c-0.07559,0.22676 -0.12597,0.45352 -0.20996,0.67187c-4.24961,-0.66347 -8.43203,-0.24355 -12.43808,1.26816c-10.54003,3.96406 -17.46874,13.9162 -17.25038,24.75858c0.24356,12.09374 9.01992,22.22226 20.45019,24.6746c0.05039,0.0168 0.10078,0.05039 0.15957,0.06719c0.10078,0.02519 0.20996,0.02519 0.31914,0.05039c0.37793,0.06719 0.77266,0.11758 1.15898,0.16797c0.41152,0.06719 0.82305,0.14277 1.24297,0.17637c0.03359,0.0084 0.07559,0.0168 0.11758,0.0252l-3.67011,40.37127c-0.15957,1.79726 0.44512,3.59453 1.65449,4.92988c1.22617,1.33535 2.95625,2.09961 4.76191,2.09961h67.99372c1.80566,0 3.53574,-0.76426 4.76191,-2.09961c1.21777,-1.33535 1.81406,-3.13262 1.65449,-4.92988l-3.67011,-40.37967c0.03359,-0.0084 0.07559,-0.0084 0.10918,-0.0168c0.76426,-0.06719 1.52012,-0.17637 2.26758,-0.31074c0.02519,-0.0084 0.05039,-0.0168 0.07559,-0.0252c1.37734,-0.25195 2.73789,-0.62148 4.07324,-1.10859c0.05039,-0.0168 0.09238,-0.05879 0.14277,-0.08398c9.62461,-3.63652 16.60371,-12.8832 16.78847,-23.70038c0.18477,-10.82558 -6.76074,-20.74413 -17.28398,-24.683c-4.00605,-1.49492 -8.18008,-1.90644 -12.42968,-1.25137c-4.42598,-12.93359 -16.68769,-21.81073 -30.48632,-21.81073zM83.31337,30.10003c12.53886,0 23.6164,8.45722 26.93378,20.55937c0.30234,1.11699 1.42773,1.78887 2.56152,1.52852c4.14883,-0.97422 8.0457,-0.74746 11.91738,0.69707c8.95273,3.35937 14.63847,11.43867 14.4873,20.58456c-0.15957,9.28867 -6.32402,17.1748 -14.71406,19.99667c-0.5543,0.18477 -1.1002,0.34434 -1.67129,0.48711c-0.24355,0.05879 -0.48711,0.13437 -0.73906,0.18476c-0.84824,0.17637 -1.71328,0.29395 -2.58672,0.36953c-0.19316,0.0168 -0.38633,0.0252 -0.58789,0.03359c-1.84766,0.10078 -3.71211,-0.0084 -5.53457,-0.37793c-1.16738,-0.23516 -2.30117,0.5207 -2.53633,1.67969c-0.23516,1.15898 0.5123,2.30117 1.67969,2.53633c1.0582,0.21836 2.1332,0.33594 3.2166,0.41992l3.70371,40.7576c0.05879,0.60469 -0.13437,1.19258 -0.5543,1.6377c-0.41152,0.46191 -0.97422,0.70547 -1.57891,0.70547h-67.99372c-0.60469,0 -1.16738,-0.24355 -1.57891,-0.70547c-0.41992,-0.44512 -0.61309,-1.03301 -0.5543,-1.6377l1.35215,-14.85683h45.52791c1.18418,0 2.15,-0.95742 2.15,-2.15c0,-1.19258 -0.96582,-2.15 -2.15,-2.15h-45.14158l1.96523,-21.58397c2.35996,-0.17637 4.66953,-0.67187 6.89511,-1.48652c1.10859,-0.40312 1.68808,-1.63769 1.27656,-2.75469c-0.41152,-1.11699 -1.64609,-1.68808 -2.75469,-1.28496c-2.65391,0.97422 -5.50937,1.38574 -8.34804,1.25977c-0.23516,-0.0084 -0.47871,-0.0168 -0.71387,-0.03359c-0.78945,-0.05879 -1.57051,-0.16797 -2.34316,-0.31074c-9.74218,-1.87285 -17.27558,-10.42246 -17.48554,-20.66015c-0.18476,-9.16269 5.49258,-17.25878 14.4705,-20.64335c2.30957,-0.87344 4.63594,-1.30176 7.02109,-1.30176c0.91543,0 1.84766,0.07559 2.77988,0.20156c-0.39473,2.04922 -0.62149,4.13203 -0.62149,6.24843c0,0.77266 0.0252,1.54531 0.07559,2.30957c0.08399,1.12539 1.03301,1.99043 2.15,1.99043c0.05039,0 0.10078,0 0.15957,0c1.18418,-0.08398 2.06602,-1.11699 1.98203,-2.29277c-0.04199,-0.66348 -0.06719,-1.33535 -0.06719,-2.00723c0,-2.46914 0.31914,-4.89629 0.94902,-7.24785c0.0168,-0.05039 0.05879,-0.09238 0.06719,-0.14277c3.32578,-12.10214 14.39492,-20.55937 26.93378,-20.55937zM85.99247,36.71799c-1.18418,-0.16797 -2.25078,0.68867 -2.40195,1.86445c-0.14277,1.18418 0.69707,2.25078 1.87285,2.40195c2.77988,0.34434 5.45898,1.37734 7.75175,2.99824c0.37793,0.26035 0.80625,0.39473 1.24297,0.39473c0.67187,0 1.33535,-0.31914 1.75527,-0.90703c0.68027,-0.97422 0.45352,-2.31797 -0.5123,-2.99824c-2.87227,-2.02402 -6.23164,-3.32578 -9.70859,-3.7541zM102.66336,120.39998c-1.18418,0 -2.15,0.95742 -2.15,2.15c0,1.19258 0.96582,2.15 2.15,2.15h8.6c1.18418,0 2.15,-0.95742 2.15,-2.15c0,-1.19258 -0.96582,-2.15 -2.15,-2.15zM55.36339,128.99998c-1.18418,0 -2.15,0.95742 -2.15,2.15v4.3c0,1.19258 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.95742 2.15,-2.15v-4.3c0,-1.19258 -0.96582,-2.15 -2.15,-2.15zM66.11338,128.99998c-1.18418,0 -2.15,0.95742 -2.15,2.15v4.3c0,1.19258 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.95742 2.15,-2.15v-4.3c0,-1.19258 -0.96582,-2.15 -2.15,-2.15zM76.86338,128.99998c-1.18418,0 -2.15,0.95742 -2.15,2.15v4.3c0,1.19258 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.95742 2.15,-2.15v-4.3c0,-1.19258 -0.96582,-2.15 -2.15,-2.15zM89.76337,128.99998c-1.18418,0 -2.15,0.95742 -2.15,2.15v4.3c0,1.19258 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.95742 2.15,-2.15v-4.3c0,-1.19258 -0.96582,-2.15 -2.15,-2.15zM100.51336,128.99998c-1.18418,0 -2.15,0.95742 -2.15,2.15v4.3c0,1.19258 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.95742 2.15,-2.15v-4.3c0,-1.19258 -0.96582,-2.15 -2.15,-2.15zM111.26336,128.99998c-1.18418,0 -2.15,0.95742 -2.15,2.15v4.3c0,1.19258 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.95742 2.15,-2.15v-4.3c0,-1.19258 -0.96582,-2.15 -2.15,-2.15z"></path></g></g></svg>
</nav>

  <div class="container">
    <div class="row">
      <h1 class="text-center text-white">"Gourmant, Croquant"</h1>
      <h2 class="text-right text-white">- Cyril Lignac</h2>
    </div>
  </div>
</header>


