body {
    background-color: lightgray;
}

.navbarSearch {

    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
}


#nav {

    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 600px;
    caret-color:transparent;
    line-height: 40px;
}

#head {

    background: #181015 url('https://images.unsplash.com/photo-1524010464459-ebc38e4a3331?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2029&q=80') no-repeat;
    background-size: cover;
     min-height:520px;
     text-align: center;
     padding-top:240px;
     z-index: 1;


}

