{# base.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# appel du fichier css situé dans public/build #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
<<<<<<< Updated upstream
=======
            <!-- UIkit CSS -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/css/uikit.min.css" />
>>>>>>> Stashed changes
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {# appel du fichier js situé dans public/build #}
        {% block javascripts %}
                {{ encore_entry_script_tags('app') }}
<<<<<<< Updated upstream
=======
                <!-- UIkit JS -->
                <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/js/uikit.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/js/uikit-icons.min.js"></script>
>>>>>>> Stashed changes
        {% endblock javascripts%}
    </body>
</html>

