{% extends 'base.html.twig' %}

{% block title %}Cook{% endblock %}

{% block body %}
    <h1>Cook index</h1>

    <a href="{{ path('create_recette_index') }}">Mes recettes</a>

    
    <a href="{{ path('create_recette_new') }}">Crée une recette</a>

    <h1>User index</h1>
    
    <a href="{{ path('user_new') }}">Crée un compte</a>

{% endblock %}
